kokkos/*
kokkos-debug/*

docker_deps/*
!docker_deps/**/*.sh

build/*
!build/cmake_basic.sh
!build/cmake_clean.sh
!build/cmake_docker.sh
!build/cmake_docker_omp_nompi.sh
!build/cmake_docker_nompi.sh
!build/cmake_docker_nompi_cpu.sh
!build/cmake_docker_nompi_cpu_serial.sh
!build/cmake_docker_nompi_oneapi.sh
!build/cmake_wild-duck_nompi.sh
!build/setup_wild-duck_env.sh

source/GitVersion.cpp

.vscode

*.png
*.npy
*.nc
*.code-workspace

__pycache__
